<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <nb-card size="tiny">
          <nb-card-header>
            Avg. Throughput
      </nb-card-header>
          <nb-card-body>
            <div style="width: 95%; height: 100%;" echarts [options]="gOptions" class="echart"></div>
          </nb-card-body>
        </nb-card>

      </div>
      <div class="col-md-6">
        <!--<ngx-earning-card></ngx-earning-card>-->
        <nb-card size="tiny">
        </nb-card>
      </div>
    </div>

    <!--<ngx-traffic-reveal-card></ngx-traffic-reveal-card>-->

          <nb-card size="small">
            <nb-card-header>
              Knowledge Base
        </nb-card-header>
            <nb-card-body>
              <div style="width: 95%; height: 100%;" echarts [options]="dOptions" class="echart"></div>
            </nb-card-body>


          </nb-card>
  </div>

  <div class="col-xxl-7">
    <nb-card size="large">
      <nb-card-header>
        Stack
  </nb-card-header>
      <nb-card-body>
       <!--
<div style="width: 95%; height: 100%;" echarts [options]="sOptions" class="echart"></div>
       --> 
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">

    <nb-card size="medium">
      <nb-card-header>
        Stack
  </nb-card-header>
      <nb-card-body>
       <!--
 <div style="width: 95%; height: 100%;" echarts [options]="dynamicOptions" class="echart"></div>
       -->
      </nb-card-body>

    </nb-card>
  </div>

  <div class="col-xxl-3">
    <!--<ngx-progress-section></ngx-progress-section>-->
    <nb-card size="medium">
      <nb-card-header>
        Most Common Access Pattern
  </nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
   <!-- <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>-->
  </div>

  <div class="col-xxl-3">
   <!-- <ngx-user-activity></ngx-user-activity>-->
  </div>
</div>