<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-8">
        <nb-card size="small">
          <nb-card-header>
            Avg. Throughput
      </nb-card-header>
          <nb-card-body>
            <div style="width: 95%; height: 100%;" echarts [options]="gOptions" class="echart"></div>
          </nb-card-body>
        </nb-card>

      </div>
      <div class="col-md-4">
        <nb-card size="small">
          <nb-card-header>
            Total Knowledge
      </nb-card-header>
          <nb-card-body>
            <h1>10023</h1>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <!--<ngx-traffic-reveal-card></ngx-traffic-reveal-card>-->

          <nb-card size="small">
            <nb-card-header>
              Knowledge Base
        </nb-card-header>
            <nb-card-body>
              <div style="width: 95%; height: 100%;" echarts [options]="dOptions" class="echart"></div>
            </nb-card-body>


          </nb-card>
  </div>

  <div class="col-xxl-7">
    <nb-card size="giant">
      <nb-card-header>
        Application By API
  </nb-card-header>
      <nb-card-body>
        <div style="width: 95%; height: 100%;" echarts [options]="sOptions" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card size="small">
      <nb-card-header>
        Most Common Access Pattern (By Darshan)
  </nb-card-header>
      <nb-card-body>
        <div style="width: 100%; height: 100%;" echarts [options]="apOptions" class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
   <!-- <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>-->
  </div>

  <div class="col-xxl-3">
   <!-- <ngx-user-activity></ngx-user-activity>-->
  </div>
</div>