<div class="row">
  <div class="col-xxl-12">
    <div class="row">
      <div class="col-md-12">
      <nb-card size="small">
        <nb-card-body>
          <nb-select name="p" style="width: 95%" placeholder="Select Showcase" [(selected)]="selectedValue"></nb-select>
        </nb-card-body>
      </nb-card>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card> 
      <nb-card-header>
        <p>BoundingBox</p>
      </nb-card-header>
      <nb-card-body>
        <div>
          <test-chart></test-chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card> 
      <nb-card-header>
        <p>DataTable</p>
      </nb-card-header>
      <nb-card-body>
        <smart-table-io500></smart-table-io500>
      </nb-card-body>
    </nb-card>
  </div>
</div>



