@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

}
:host /deep/ .ng2-smart-action-multiple-select{
  text-align: center;
  }
  
  :host /deep/ .ng2-smart-action-multiple-select > input{
  width:15px;
  height:15px;
  display: unset;
  }
