<nb-layout>

  <nb-layout-header fixed>
    <p class="title">Knowledge Explorer</p>
    <button nbButton status="success" size="tiny" (click)="toggle()">Toggle</button>
  </nb-layout-header>

  <nb-sidebar tag="left" class="menu-sidebar" responsive>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-warning"><router-outlet></router-outlet></nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>