<div class="row">
  <div class="col-md-12">
    <nb-card size="large">
      <nb-card-header>
        Benchmark Comparison 
        <nb-select style="min-width: 20%" placeholder="Select IO-500 Run" [(selected)]="selectedValue" name="p" (selectedChange)="selectIO500()">
          <nb-option *ngFor="let run of io500" [value]="run"> {{run.version}}: {{run.start}} - {{run.end}} on {{run.name}} ({{run.processor_model}} , {{run.processor_architecture}}) with {{run.procs}} Procs</nb-option>
      </nb-select>
      <div>
        <nb-select  style="min-width: 20%" margin="3px" placeholder="X-Axis" [(selected)]="selectX" (selectedChange)="scatterChart()">
          <nb-option *ngFor="let x of selectXAxis" [value]="x"> {{x.name}}</nb-option>

        </nb-select>
        <nb-select style="min-width: 20%" placeholder="Y-Axis" [(selected)]="selectY" (selectedChange)="scatterChart()">
          <nb-option *ngFor="let y of selectYAxis" [value]="y"> {{y.name}}</nb-option>

        </nb-select>
      </div>
      </nb-card-header>
      
      <nb-card-body>
        <div style="width: 95%;" echarts [options]="options_scatter" class="echart"></div>
      </nb-card-body>
    </nb-card>
</div>
</div>

<div class="col-md-12" *ngIf="selectedValue && selectedValueIOR">
    
  <nb-card>
    <nb-card-body>
          <ng2-smart-table [settings]="settingsTable" [source]="sourceTable" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="testTable($event)"></ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
  
  